<div class="footer-content">
    <div class="footer-left">
        <h4>Escuela Cristiana Filadelfia</h4>
        
        <div class="location-container">
            <a href="https://maps.app.goo.gl/QyxFT21cWJiJikb78" target="_blank" style="text-decoration: none;">
                <i class="fas fa-map-marker-alt" style="margin-right: 10px; color:var(--primary-color);"></i>
                <span style="color: #fff;"> Alfonso Barras Lote 1, La Presita, 87019 Cdad. Victoria, Tamps.</span>
            </a>
            <div class="tooltip">Ver en Google Maps</div>
        </div>
    </div>

    <div class="footer-right">
    
        <div class="icon-container">
            <a href="mailto:escuelacristianafiladelfia@gmail.com" target="_blank" class="social-icon email" data-social="email">
                <div class="filled"></div>
                <i class="far fa-envelope"></i>
            </a>
            <div class="tooltip">Correo Electrónico</div>
        </div>

        <div class="icon-container">
            <a href="https://www.facebook.com/people/Escuela-Cristiana-Filadelfia/61585656081054/" target="_blank" class="social-icon fb" data-social="facebook">
                <div class="filled"></div>
                <i class="fab fa-facebook-f"></i>
            </a>
            <div class="tooltip">Facebook</div>
        </div>

        <div class="icon-container">
            <a href="https://wa.me/5218341160615" target="_blank" class="social-icon wa" data-social="whatsapp">
                <div class="filled"></div>
                <i class="fab fa-whatsapp"></i>
            </a>
            <div class="tooltip">WhatsApp</div>
        </div>
        
    </div>
</div>
<div class="copyright">
    &copy; 2026 Escuela Cristiana Filadelfia. Todos los derechos reservados.
</div>